@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap');

@media screen and (max-width: 1100px) {
    .projects {
        flex-direction: column;
        align-items: center;
        width: 90%;
        margin-bottom: 30px;
    }

    .info {
        width: 90%;
    }

    .buttons {
        justify-content: center;
    }
}

@media screen and (min-width: 1100px) {
    .projects {
        width: 80%;
    }

    .container {
        max-width: 70vw;
        margin: auto;
    }

    .info {
        width: 75%;
    }
}


* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F0F0F3;
    font-family: 'Rubik', sans-serif;
    font-size: max(0.8vw, 15px);
    color: #5a6d90;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projects {
    display: flex;
}

.buttons {
    width: 100%;
    display: flex;
}

.link {
    padding: 1rem 1rem 1rem 0;
}

i {
    font-size: 23px;
}

button {
    padding: 1em 0.7em;
    font-size: max(0.8vw, 15px);
    font-weight: bold;
    background: #F0F0F3;
    border: none;
    border-radius: .5rem;
    color: #728AB7;
    cursor: pointer;
    transition: .2s ease-in-out;
    box-shadow: -6px -6px 14px rgba(255, 255, 255, .7),
                -6px -6px 10px rgba(255, 255, 255, .5),
                6px 6px 8px rgba(255, 255, 255, .075),
                6px 6px 10px rgba(0, 0, 0, .15);
}

button:hover {
    box-shadow: -2px -2px 6px rgba(255, 255, 255, .6),
                -2px -2px 4px rgba(255, 255, 255, .4),
                2px 2px 2px rgba(255, 255, 255, .05),
                2px 2px 4px rgba(0, 0, 0, .1);
}

button:active {
    box-shadow: inset -2px -2px 6px rgba(255, 255, 255, .7),
                inset -2px -2px 4px rgba(255, 255, 255, .5),
                inset 2px 2px 2px rgba(255, 255, 255, .075),
                inset 2px 2px 4px rgba(0, 0, 0, .15);
}




#name {
    font-size: max(3vw, 3rem);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#desc {
    line-height: 1.5;
    padding-bottom: 1rem;
}
