/*Site size and layout for desktop*/
@media only screen and (min-width: 600px) {
    body {
        background-color: #1D1F20;
    }
    
    .container {
        display: flex;
        width: 100%;
        flex-direction: row;
        font-size: 0.9rem;
        line-height: 1.1rem;
    }

    .info {
        width: 80%;
        padding: 1rem;
    }
    .console {
        width: 30%;
        padding: 1rem;
        background-color:black;
        overflow: hidden;
        border-left: 1px solid grey;
        border-bottom: 1px solid grey;
    }
}

/*Site size and layout for mobile*/
@media only screen and (max-width: 600px) {
    body {
        background-color: black;
        overflow: hidden;
    }

    .container{
        font-size: 0.8rem;
        padding: 2rem;
        line-height: 1rem;
    }
    /*Code goes invisible on mobile*/
    .info {
        display: none;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: aliceblue;
    font-family: 'Inconsolata', monospace;
}

/*Colors for syntax highlighting*/
.blue {color: #619BAB;}
.purple {color: #B66BB1;}
.lightPurple {color: #B194BB;}
.green {color: #76CB58;}
.red {color: #FF7477;}
.orange {color: #F0C674;}


/*Tabs for code indenting*/
.tab {
    margin-left: 2.5%;
}
.tab2 {
    margin-left: 5%;
}
.tab3 {
    margin-left: 7.5%;
}

/*Links hover effect*/
a:hover{
    color: rgb(200, 207, 214);
}
