/*Text fade in*/
p {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
     -ms-animation: fadein 2s; /* Internet Explorer */
      -o-animation: fadein 2s; /* Opera < 12.1 */
         animation: fadein 2s;
}
/*Text font and colour*/
* {
    color: aliceblue;
    font-family: 'Inconsolata', monospace;
    margin: 0;
    padding: 0;
}

/*Site size for desktop*/
@media only screen and (min-device-width: 600px) {
    body {
        background-color: #1D1F20;
        overflow: auto;
        font-size:calc(50% + 0.5vw)
    }
    .infoAndConsole {
        top: 0; bottom: 0; left: 0; right: 0;
        position: absolute; 
        /*border: 1px solid yellow;*/
    }
    .info {
        display: inline-block;
        width: 50%;
        padding: 25px;
        /*border: 1px solid red;*/
    }
    .console {
        padding: 25px;
        padding-bottom: 100%;
        margin-bottom: -100%;
        overflow: hidden;
        float: right;
        width: 30%;
        background-color:black;
        /*border: 1px solid green;*/
    }
}

/*Site size for mobile*/
@media only screen and (max-device-width: 600px) {
    body {
        background-color: black;
    }

    .infoAndIntro {
        top: 0; bottom: 0; left: 0; right: 0;
        border: 1px solid yellow;
    }
    /*Code goes invisible on mobile*/
    .info {
        visibility: hidden;
        position:fixed;
        /*border: 1px solid red;*/
    }
    .console {
        position: absolute;
        padding: 15px;
        font-size: 50px;
        background-color:black;
       /*border: 1px solid green;*/
    }
}

/*Tabs for code indenting*/
.tab {
    margin-left:40px;
}
.tab2 {
    margin-left: 80px;
}
.tab3 {
    margin-left: 120px;
}

/*Colors for syntax highlighting*/
.blue {
    color: #619BAB;
}
.purple {
    color: #B66BB1;
}
.lightPurple {
    color: #B194BB;
}
.green {
    color: #76CB58;
}
.red {
    color: #FF7477;
}
.orange {
    color: #F0C674;
}

a:hover{
    color: rgb(200, 207, 214);
}

/*Fade code*/
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}