/*Coding IDE Background*/
body {
    /*background-color: #2c3949;*/
    background-color: #1D1F20;
}

/*Text font and colour*/
* {
    color: aliceblue;
    font-family: 'Inconsolata', monospace;
}

/*Site size for desktop*/
@media only screen and (min-device-width: 600px) {
    .infoAndIntro {
        display: flex;
        justify-content: center;
        position: fixed;
        top: 0; right: 0; bottom: 0; left: 0;
        /*border: 1px solid yellow;*/
    }
}

/*Tabs for code indenting*/
.tab {
    margin-left:40px;
}
.tab2 {
    margin-left: 80px;
}
.tab3 {
    margin-left: 120px;
}

/*Colors for syntax highlighting*/
.blue {
    color: #619BAB;
}
.purple {
    color: #B66BB1;
}
.lightPurple {
    color: #B194BB;
}
.green {
    color: #76CB58;
}
.red {
    color: #FF7477;
}
.orange {
    color: #F0C674;
}

/*Divs for console and code*/
.info {
    position: fixed;
    padding: 2%;
    width: 65%;
    bottom: 0; top: 0; left: 0;
    /*border: 1px solid red;*/
}
.console {
    background-color:black;
    position: fixed;
    padding: 1%;
    top: 0; bottom: 0; right: 0;
    width: 30%;
    height: 100%;
    /*border: 1px solid green;*/
}

/*Text size on desktop*/
@media only screen and (min-device-width: 600px) {

    p {
        font-size: 15px;
        margin: 0px;
        animation: fadein 1.5s;
        -moz-animation: fadein 1.5s; /* Firefox */
        -webkit-animation: fadein 1.5s; /* Safari and Chrome */
        -o-animation: fadein 1.5s; /* Opera */
    }

    a {
        font-size: 15px;
        animation: fadein 1.5s;
        -moz-animation: fadein 1.5s; /* Firefox */
        -webkit-animation: fadein 1.5s; /* Safari and Chrome */
        -o-animation: fadein 1.5s; /* Opera */
    }
}
a:hover{
    color: rgb(200, 207, 214);
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}